<!DOCTYPE html>
<html>
<head>
  <title>House Price Predictor</title>
</head>
<body>
  <h1>Predict House Price</h1>
  <form method="POST">
    Area: <input name="area"><br>
    Bedrooms: <input name="bedrooms"><br>
    Bathrooms: <input name="bathrooms"><br>
    Stories: <input name="stories"><br>
    Mainroad: <select name="mainroad"><option>yes</option><option>no</option></select><br>
    Guestroom: <select name="guestroom"><option>yes</option><option>no</option></select><br>
    Basement: <select name="basement"><option>yes</option><option>no</option></select><br>
    Hot Water Heating: <select name="hotwaterheating"><option>yes</option><option>no</option></select><br>
    Air Conditioning: <select name="airconditioning"><option>yes</option><option>no</option></select><br>
    Parking: <input name="parking"><br>
    Preferred Area: <select name="prefarea"><option>yes</option><option>no</option></select><br>
    Furnishing Status:
    <select name="furnishingstatus">
      <option>furnished</option>
      <option>semi-furnished</option>
      <option>unfurnished</option>
    </select><br>
    <input type="submit">
  </form>
</body>
</html>
